h1 {
    color: #4d4c4c;
    font-family: Arial, Helvetica, sans-serif;
    font-size: xx-large;
}

body {
    color: #000000;
    font-family: Arial, Helvetica, sans-serif;
}

p {
    font-size: larger;
    font-weight: bold;
}