h1 {
    color: #4d4c4c;
    font-family: Arial, Helvetica, sans-serif;
    font-size: xx-large;
}

body {
    color: #000000;
    font-family: Arial, Helvetica, sans-serif;
}

p {
    font-size: larger;
    font-weight: bold;
}

.calculator {    
    align-content: center;
    padding: 15px;
    border: 5px solid black;
    border-radius: 25px;
    background-color: darkgray;
    display: inline-block;
}

.calc_field {
    height: 65px;
    margin: 10px 10px 20px 10px;
    border: 2px solid black;
    border-radius: 10px;
    text-align: center;
    vertical-align: middle;
    font-size: xx-large;
    line-height: 65px;
}

.num_btn {
    height: 70px;
    width: 70px;
    font-size: xx-large;
    border-radius: 100%;
    margin: 2px;
    padding: 4px;
    text-align: center;
    vertical-align: middle;
    background-color: orange;
    border-color: transparent;
    outline: none;
}

.num_btn:active {
    background-color: darkorange;
    box-shadow: none;
    border-color: transparent;
    outline: none;
}

.functional_btn {
    height: 70px;
    width: 70px;
    font-size: xx-large;
    border-radius: 100%;
    margin: 2px;
    padding: 4px;
    text-align: center;
    vertical-align: middle;
    background-color: orange;
    border-color: transparent;
    outline: none;
}

.functional_btn:active {
    background-color: darkorange;
    box-shadow: none;
    border-color: transparent;
    outline: none;
}

.operator {
    height: 70px;
    width: 70px;
    font-size: xx-large;
    border-radius: 100%;
    margin: 2px auto;
    padding: 4px;
    text-align: center;
    vertical-align: middle;
    background-color: grey;
    border-color: transparent;
    outline: none;
}

.operator:active {
    background-color: rgb(79, 79, 79);
    box-shadow: none;
    border-color: transparent;
    outline: none;
}

.operatorActive {
    height: 70px;
    width: 70px;
    font-size: xx-large;
    border-radius: 100%;
    margin: 2px auto;
    padding: 4px;
    text-align: center;
    vertical-align: middle;
    background-color: rgb(79, 79, 79);
    box-shadow: none;
    border-color: transparent;
    outline: none;
}